<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IPInterface.TestPOS.Properties.ControlValues" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <system.diagnostics>
      <trace autoflush="true" indentsize="4">
        <listeners>
          <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="application.log"/>
          <remove name="Default"/>
        </listeners>
      </trace>
    </system.diagnostics>
    <userSettings>
        <IPInterface.TestPOS.Properties.ControlValues>
            <setting name="CommonAppNumIdx" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CommonMerchNum" serializeAs="String">
                <value>00</value>
            </setting>
            <setting name="CommonSelectedPad" serializeAs="String">
                <value />
            </setting>
            <setting name="LogonTypeIdx" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TranIsETS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TranTxnRef" serializeAs="String">
                <value />
            </setting>
            <setting name="TranAutoTxnRef" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TranTxnTypeIdx" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TranAmtPurch" serializeAs="String">
                <value>42</value>
            </setting>
            <setting name="TranAmtCash" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TranAuthNo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TranRRN" serializeAs="String">
                <value />
            </setting>
            <setting name="TranPANSrcIdx" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TranAccountTypeIdx" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TranPAN" serializeAs="String">
                <value />
            </setting>
            <setting name="TranExpiry" serializeAs="String">
                <value />
            </setting>
            <setting name="TranCurrCodeIdx" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TranOriginalTxnTypeIdx" serializeAs="String">
                <value />
            </setting>
            <setting name="TranTrainingMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TranEnableTip" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TranPrintTimeout" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TranPrePrintTimeout" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TranAppendLastRFN" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TranAppendSKU" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TranAppendOPR" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TranAppendAMT" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TranAppendUID" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TranAppendNME" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TranAppendVER" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TranAppendVND" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TranAppendPCM" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TranPCMBarcode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TranSelectedTrack2" serializeAs="String">
                <value />
            </setting>
            <setting name="QueryTypeIdx" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ConfigTerminalId" serializeAs="String">
                <value />
            </setting>
            <setting name="ConfigMerchantId" serializeAs="String">
                <value />
            </setting>
            <setting name="ConfigNII" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ConfigAIIC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ConfigTimeout" serializeAs="String">
                <value>45</value>
            </setting>
        </IPInterface.TestPOS.Properties.ControlValues>
    </userSettings>
</configuration>
